.elem25{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.elem26{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.elem27{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    padding: 2px;
}
.elem28{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    padding: 5px;
}
.elem29{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    padding: 5px;
}
.elem30{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    padding: 9px;
}
.elem31{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    padding: 9px;
}
#elem36{
    overflow: auto;
    width: 200px;
    height: 100px;
    border: 1px solid red;
    /* white-space: nowrap; */
    padding: 10;
}
#button36{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem32{
    overflow: auto;
    width: 200px;
    height: 100px;
    border: 1px solid red;
    /* white-space: nowrap; */
    padding: 10;
}
#button32{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem33{
    overflow: auto;
    width: 200px;
    border: 1px solid red;
    white-space: nowrap;
    padding: 10;
}
#button33{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem37{
    overflow: auto;
    width: 200px;
    border: 1px solid red;
    padding: 10;
    white-space: nowrap;
}
#button37{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem34{
    overflow: auto;
    width: 200px;
    border: 1px solid red;
    padding: 10;
    height: 100px;
}
#button34{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem35{
    overflow: auto;
    width: 200px;
    border: 1px solid red;
    padding: 10;
    height: 100px;
}
#button35{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem38{
    overflow: auto;
    width: 200px;
    border: 1px solid red;
    padding: 10;
    height: 100px;
}
#button38{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem39{
    overflow: auto;
    width: 200px;
    border: 1px solid red;
    padding: 10;
    height: 100px;
}
#button39{
    margin-top: 10px;
    margin-bottom: 10px;
}
#button40{
    margin-top: 10px;
    margin-bottom: 10px;
}
#button41{
    margin-top: 10px;
    margin-bottom: 10px;
}
#button42{
    margin-top: 10px;
    margin-bottom: 10px;
}
#button43{
    margin-top: 10px;
    margin-bottom: 10px;
}
#elem45{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
